<div class="container-fluid mt-5">
  <section class="text-center">
      <h2 class="h1 py-5 font-weight-bold">Scrum like never before</h2>
      <p class="px-5 mb-5 pb-3 lead grey-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam.
      </p>
      <div class="row">
          <div class="col-md-4">
              <i class="fa fa-bar-chart fa-3x red-text"></i>
              <h5 class="font-weight-bold mt-3">Analytics</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                  deleniti hic.
              </p>
          </div>
          <div class="col-md-4">
              <i class="fa fa-life-ring  fa-3x cyan-text"></i>
              <h5 class="font-weight-bold mt-3">Support</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                  deleniti hic.
              </p>
          </div>
          <div class="col-md-4">
              <i class="fa fa-heart-o  fa-3x orange-text"></i>
              <h5 class="font-weight-bold mt-3">Easy to use</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda
                  deleniti hic.
              </p>
          </div>
      </div>
    </section>
</div>
