<div aria-hidden="true" class="navdrawer" id="authorisedNavdrawer" tabindex="-1">
  <div class="navdrawer-content ">
    <div class="navdrawer-header text-white bg-primary">
      <a href="/" class="navbar-brand px-0">scrum_ally</a>
    </div>
    <nav class="navdrawer-nav">
      <a routerLink="/dashboard" class="nav-item nav-link" routerLinkActive="active">
        <i class="material-icons mr-3">dashboard</i>
        Dashboard
      </a>
      <a routerLink="/projects" class="nav-item nav-link" routerLinkActive="active">
        <i class="material-icons mr-3">folder_open</i>
        Projects
      </a>
    </nav>
  </div>
</div>
